{% extends "layout.html" %}

{% block title %}
Categorias
{% endblock %}
{% block header %}
<nav class="bg-light border navbar navbar-expand-md navbar-light">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav me-auto mt-2">
                <button id="btnSaveCategoria" onclick="handleSaveCategoria()" data-bs-toggle="tooltip" data-bs-placement="top" title="Salvar Categoria"
                    class="btn btn-primary btnBarraFerramenta"><img class="iconImg" src="/static/img/diskette.png" />
                    Salvar</button>
                <button id="btnNewCategoria" onclick="handleNewCategoria()" data-bs-toggle="tooltip" data-bs-placement="top"  title="Criar uma nova categoria"
                    class="btn btn-primary btnBarraFerramenta"><img class="iconImg" src="/static/img/plus.png" />
                    Novo</button>
                <button id="btnListCategoria" onclick="handleListCategoria()" data-bs-toggle="tooltip" data-bs-placement="top"  title="Listar Categorias"
                    class="btn btn-primary btnBarraFerramenta"><img class="iconImg" src="/static/img/list.png" />
                    Listar</button>

            </ul>
            <ul class="navbar-nav ms-auto mt-2">
                <button id="btnVoltarCategoria" onclick="history.back()" class="btn btn-primary"><img class="iconImg"
                        src="/static/img/voltar.png" /> Voltar </button>

            </ul>
        </div>
    </div>
</nav>
{% endblock %}

{% block alert%}
<script type="text/javascript" src="/static/js/categorias.js"></script>
<div id="liveAlertPlaceholder"></div>
{% endblock %}


{% block main %}
<div class="section">
    <form action="/" method="post">
        <div class="mb-3">
            <label for="tipoCategoria" class="form-label">Tipo de Categoria</label>
            <select id="tipoCategoria" name="tipoCategoria" class="custom-select">
                <option value="0">Nenhum Tipo de Categoria Selecionada</option>
                <option value="1">Despesas</option>
                <option value="2">Receitas</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="descricao">Descricao</label>
            <input id="descricao" name="descricao" autocomplete="off" autofocus placeholder="Descrição" type="text"    required />
        </div>
    </form>
</div>

{% endblock %}