{% extends "layout.html" %}

{% block title %}
    Lista de Categorias
{% endblock %}

{% block header %}
<nav class="bg-light border navbar navbar-expand-md navbar-light">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav me-auto mt-2">
            </ul>
        </div>
    </div>
</nav>
{% endblock %}
{% block alert%}
    <script type="text/javascript" src="/static/js/categorias.js"></script>
{% endblock%}

{% block main %}
<div id="liveAlertPlaceholder"></div>
<form >
    <input type="hidden" id="idCategoria" name="idCategoria" value="0">
    <div class="section">
        <table id="tableCategoria">
            <thead>
                <tr>
                    <th colspan="2"
                        style="text-align: center;align-items: center;width:auto; padding:1px;rem;vertical-align:middle;">
                        Ações</th>
                    <th>Tipo de Categoria</th>
                    <th>Descrição</th>
                </tr>
            </thead>
            <tbody>
                {% for categoria in dados %}
                <tr  id="tr_{{ categoria.id }}" >
                    <td style="width:6px;padding:0px;vertical-align: middle;"><button type="button" data-bs-toggle="tooltip" data-bs-placement="top"  title="Deletar Categoria"
                         onclick="handleDelete({{ categoria.id }})">
                        

                        <img class="iconImg" src="/static/img/delete.png" /> </button></td>
                    <td style="width:6px;padding:0px;vertical-align: middle;"><button type="button" data-bs-toggle="tooltip" data-bs-placement="top"  title="Editar Categoria"
                        onclick="handleEdit({{ categoria.id }})"><img class="iconImg" src="/static/img/edit.png" /> </button></td>
                        </td>
                    <td>{{categoria.tipo  }}</td>
                    <td>{{categoria.descricao  }}</td>
                </tr>
                {% endfor %}
        </table>
    </div>
</form>
{% endblock %}

{% block barraFerramenta%}
    <ul></ul>
    <ul >
        <button id="btnVoltarCategoria" onclick="history.back()" class="btn btn-primary">
            <img class="iconImg" src="/static/img/voltar.png" /> Voltar
         </button>
    </ul>
{% endblock %}