{% extends "layout.html" %}

{% block title %}
Despesas
{% endblock %}
{% block header %}
<script type="text/javascript" src="/static/js/despesas.js"></script>
<nav class="bg-light border navbar navbar-expand-md navbar-light">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav me-auto mt-2">
                <button id="btnSaveDespesa" onclick="handleSaveDespesa()" data-bs-toggle="tooltip" data-bs-placement="top" title="Salvar despesa"
                    class="btn btn-primary btnBarraFerramenta"><img class="iconImg" src="/static/img/diskette.png" />
                    Salvar</button>
                <button id="btnNewDespesa" onclick="handleNewDespesa()" data-bs-toggle="tooltip" data-bs-placement="top" title="Crirar uma nova despesa"
                    class="btn btn-primary btnBarraFerramenta"><img class="iconImg" src="/static/img/plus.png" />
                    Novo</button>
                <button id="btnListDespesa" onclick="handleListDespesa()" class="btn btn-primary btnBarraFerramenta" data-bs-toggle="tooltip" data-bs-placement="top" title="Listar despesas"
                ><img class="iconImg" src="/static/img/list.png" /> Listar</button>
            </ul>
            <ul class="navbar-nav ms-auto mt-2">
                <button id="btnVoltarDespesas" onclick="history.back()" class="btn btn-primary"><img class="iconImg"
                        src="/static/img/voltar.png" /> Voltar </button>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}

{% block main %}
<div class="section">
    <form action="/despesas" method="post">
        <div class="mb-3">
            <label for="Data">Data</label>
            <input autocomplete="off" autofocus id="data" name="data" placeholder="Data" type="date" min="2008-01-01"
                max="2050-12-31" required /></td>
        </div>
        <div class="mb-3">
            <label for="descricao">Descricao</label>
            <input autocomplete="off" autofocus id="descricao" name="descricao" placeholder="Descrição" type="text"
                required /></td>
        </div>
        <div class="mb-3">
            <label for="dataVencimento">Data de Vencimento</label>
            <input autocomplete="off" autofocus id="dataVencimento" name="dataVencimento" placeholder="Data de Vencimento" type="date" min="2008-01-01"
                max="2050-12-31" required /></td>
        </div>
        <div class="mb-3">
            <label for="valor">Valor</label>
            <input autocomplete="off" autofocus id="valor" name="valor" placeholder="Valor" type="text" type="number"
                min="0,0000.10" max="10,0000.00" required /></td>
        </div>
        <div class="mb-3">
            <label for="categoria" class="form-label">Categoria</label>
            <select id="categoria" name="cateoria" class="custom-select">
                <option value="0">Nenhuma Categoria Selecionada</option>
                <option value="1">Salário</option>
                <option value="2">Prêmio</option>
                <option value="3">Investimento</option>
                <option value="4">Benefício</option>
                <option value="5">Outro</option>
            </select>
        </div>
    </form>
</div>
{% endblock %}