{% extends "layout.html" %}

{% block title %}
    Lançamentos
{% endblock %}
'
{% block header %}
    <script type="text/javascript" src="/static/js/lancamentos.js"></script>
    <div class="container-fluid " >
        <nav class="navbar navbar-light bg-light  align-items-end"  >
            <ul></ul>
            <ul>
                <table class="align-content-center">
                    <tr>
                        <td colspan="6"></td>
                        {% if total < 0 %}
                            <th class="qoute_tfoot_td" style="font-size: 2rem;color:red;">Saldo</th>
                            <td style="font-size: 1rem;color:red;">R$ {{ total }}</td>
                        {% else %}
                            <th class="qoute_tfoot_td" style="font-size: 2rem;color:green;">Saldo</th>
                            <td style="font-size: 1rem;color:green;">R$ {{ total }}</td>
                        {% endif%}
                    </tr>
                </table>
            </ul>
        </nav>
    </div>

    {% endblock %}

{% block main %}

<form action="/lancamentos" method="post">
    <input type="hidden" id="idDespesa" name="idDespesa" value="0">
    <input type="hidden" id="idReceita" name="idReceita" value="0">
    <div class="section">
        <table id="tableLancamentos" >
            <thead>
                <tr>
                    <th colspan="2"
                        style="text-align: center;align-items: center;width:auto; padding:1px;rem;vertical-align:middle;">
                        Ações</th>
                    <th>Data</th>
                    <th>Tipo</th>
                    <th>Descrição</th>
                    <th>Categoria</th>
                    <th>Valor</th>
                </tr>
            </thead>
            <tbody>

                {%  for lancamento in dados  %}
                <tr>
                    <td style="width:6px;padding:0px;vertical-align: middle;"><button type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Deletar {{ lancamento.tipo }}"
                            onclick="handleDelete({{ lancamento.idDespesa }}, {{ lancamento.idReceita }})"><img class="iconImg" src="/static/img/delete.png" /> </button></td>
                    <td style="width:6px;padding:0px;vertical-align: middle;"><button type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Editar {{ lancamento.tipo }}"
                            onclick="handleEdit({{ lancamento.idDespesa }}, {{ lancamento.idReceita }})"><img class="iconImg" src="/static/img/edit.png" /> </button></td>
                    <td>{{ lancamento.fData }}</td>
                    <td>{{ lancamento.tipo }}</td>
                    <td> {{ lancamento.descricao }}</td>
                    <td>{{ lancamento.categoria }}</td>
                    <td>R$ {{ lancamento.valor }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
</form>
</div>
{% endblock %}
{% block barraFerramenta%}
    <ul></ul>
    <ul >
        <button id="btnVoltarCategoria" onclick="history.back()" class="btn btn-primary">
            <img class="iconImg" src="/static/img/voltar.png" /> Voltar
         </button>
    </ul>
{% endblock %}